{% extends "cms_bs3_theme/fullwidth.html" %}
{% load static i18n %}

{% block content %}
    <div class="container" id="association">
        <div class="row">
            <div class="col-md-14 col-sm-offset-2">
                {% include "cms_association/includes/card.html" with include_real_name=real_name_privacy %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-13 col-sm-offset-2">
                {% if bio_privacy and object.bio %}
                    <div class="bio text-justify">{{ object.description }}</div>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        <strong>{% trans "Doh!" %}</strong>
                        {% trans "This association has not yet written a description text." %}
                    </div>
                {% endif %}
                <div class="interests">
                    {% for interest in object.interests.all %}
                        <span class="label label-default">{{ interest }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Social & contact" %}</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled social-contact">
                            {% if email_privacy %}
                                <li>
                                    <img src="{% static 'cms_contact/src/img/email.png' %}" />
                                    <strong>{% trans 'Email' %}:</strong>
                                    <a href="mailto://{{ object.user.email }}">{{ object.user.email }}</a>
                                </li>
                            {% endif %}
                            {% for field in object.fields.all %}
                                {% if not field.is_telephone or field.is_telephone and telephones_privacy %}
                                <li>
                                    <img src="{{ field.icon_path }}" />
                                    <strong>{{ field.type.title }}:</strong>
                                    {{ field.to_html }}
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}

{% block bs3_theme_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'cms_people/src/css/person.css' %}">
{% endblock %}
