{% extends "cms_bs3_theme/fullwidth.html" %}
{% load static i18n %}

{% block content %}
    <div class="container" id="person">
        <div class="row">
            <div class="col-md-14 col-sm-offset-2">
                {% include "cms_people/card.html" with include_real_name=real_name_privacy left_col_class="col-md-6" right_col_class="col-md-18" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-13 col-sm-offset-2">
                {% if bio_privacy and object.bio %}
                    <div class="bio text-justify">{{ object.bio }}</div>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        <strong>{% trans "Doh!" %}</strong>
                        {% trans "This user has not yet written a bio text or he is too embarrassed to teach it." %}
                    </div>
                {% endif %}
                <div class="interests">
                    {% for interest in object.interests.all %}
                        <span class="label label-default">{{ interest }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Social & contact" %}</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled social-contact">
                            {% if email_privacy %}
                                <li>
                                    <img src="{% static 'cms_contact/src/img/email.png' %}" />
                                    <strong>{% trans 'Email' %}:</strong>
                                    <a href="mailto://{{ object.user.email }}">{{ object.user.email }}</a>
                                </li>
                            {% endif %}
                            {% for field in object.fields.all %}
                                {% if not field.is_telephone or field.is_telephone and telephones_privacy %}
                                <li>
                                    <img src="{{ field.icon_path }}" />
                                    <strong>{{ field.type.title }}:</strong>
                                    {{ field.to_html }}
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if object.address_privacy != 'HIDDEN' %}
                <div class="media">
                    <div class="media-left">
                        <img src="{% static 'cms_contact/src/img/map.png' %}" alt="Map">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{% trans "Address" %}</h4>
                        <address>
                            {% if object.address_privacy == 'COMPLETE' %}
                            {{ object.address.street }}<br>
                            {% endif %}
                            {% if object.address_privacy == 'COMPLETE' or object.address_privacy == 'ONLYCITY' %}
                            {{ object.address.city }}, {{ object.address.subregion }}<br>
                            {% endif %}
                            {{ object.address.region }}
                            {% if object.address_privacy == 'COMPLETE' or object.address_privacy == 'ONLYCITY' %}
                                {{ object.address.custom_postal_code }}
                            {% endif %}
                            {{ object.address.get_country }}
                        </address>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block bs3_theme_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'cms_people/src/css/person.css' %}">
{% endblock %}
