{% extends "cms_people/profile.html" %}
{% load sekizai_tags static bootstrap3 %}

{% block form %}
    <form class="form-horizontal">
        <div class="avatar">
            <div>
                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            </div>
        </div>
        {% bootstrap_form form layout='horizontal' %}
        {% bootstrap_button "submit" button_class="col-md-offset-6 btn-primary" size="lg" %}
    </form>
{% endblock %}


{% block bs3_theme_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
