{% extends "cms_people/profile.html" %}
{% load sekizai_tags static bootstrap3 %}

{% block top %}
    <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="map"
            src="http://www.openstreetmap.org/export/embed.html?bbox=-3.357696533203125%2C36.58520897112158%2C-2.21099853515625%2C37.082023438186766&amp;layer=cyclemap&marker=51.89297,-8.49417"></iframe>

{% endblock %}

{% block form %}
    <form class="form-horizontal" action="{% url 'profile_address' %}" method="post">
        <h2 class="col-md-offset-6">Address</h2>
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.street layout='horizontal' %}
        {% bootstrap_field form.city layout='horizontal' %}
        {% bootstrap_field form.subregion layout='horizontal' %}
        {% bootstrap_field form.region layout='horizontal' %}
            {% bootstrap_field form.custom_postal_code layout='horizontal' form_group_class='col-md-12' label_class='col-md-12' field_class='col-md-12' %}
            {% bootstrap_field form.country layout='horizontal' form_group_class='col-md-12' %}
        {% bootstrap_button "submit" button_class="col-md-offset-6 btn-primary" size="lg" %}
    </form>
{% endblock %}

{% block bs3_theme_css %}
    {{ block.super }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    {# TODO: change to djangocms-associations #}
    <link rel="stylesheet" href="{% static 'pywebes/src/libs/select2-bootstrap-theme/dist/select2-bootstrap.css' %}">
{% endblock %}

{% block bs3_theme_js %}
    {{ block.super }}
    {{ form.media.js }}
    <script>
        dataType = "{% url "dataType" %}";
        csrfToken = "{{ csrf_token }}"
    </script>
    <script src="{% static "cms_contact/src/js/address.js" %}" type="text/javascript"></script>
{% endblock %}