{% load i18n %}
<div class="row card{% if include_real_name %} include-real-name{% endif %}">
    <div class="{{ left_col_class|default:'col-md-6' }}">
        <div class="avatar pull-right">
            <div{% if object.avatar %}
                style="background-image: url('{{ object.avatar.url }}');"{% endif %}>
                <span class="glyphicon glyphicon-camera{% if object.avatar %} hidden{% endif %}"
                      aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="{{ right_col_class|default:'col-md-18' }}">
        <h1 class="username">
            {{ view.request.user.username }}
            {% if view.request.user.is_staff %}
                <span class="label label-primary">{% trans "Staff" %}</span>
            {% endif %}
        </h1>
        {% if include_real_name %}
            <p class="real-name">
                <span class="first_name text-info" title="{% trans "First name" %}">{{ object.user.first_name }}</span>
                <span class="last_name text-primary" title="{% trans "Last name" %}">{{ object.user.last_name }}</span>
            </p>
        {% endif %}
        <p>
            <span class="text-muted since">
            {% blocktrans with view.request.user.date_joined|timesince as since %}
                Joined {{ since }} ago
            {% endblocktrans %}
            </span>
        </p>
    </div>
</div>