{% extends "cms_people/base.html" %}
{% load sekizai_tags i18n static %}


{% block content_id %}profile-{{ profile_tab }}{% endblock %}

{% block sidebar_left %}
    <ul class="nav nav-pills nav-stacked">
        {% for tab in tabs %}
        <li{% if tab.tab == profile_tab %} class="active"{% endif %}>
            <a href="{% url tab.url_name %}">{{ tab.name }}</a>
         </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block main %}
    {% block form %}
        {{ form }}
        {{ form.media.js }}
    {% endblock %}
{% endblock %}

{% block bs3_theme_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'cms_people/src/css/profile.css' %}">
{% endblock %}