$cursor-avatar: pointer !default;

.include-real-name {
    h1 {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .real-name {
        margin-top: 0;
        span {
            font-size: 130%;
        }
    }
}

.card {
    padding-bottom: 20px;

    .avatar {
        border: 1px solid #dddddd;
        display: inline-block;
        padding: 4px;
        border-radius: 3px;

        div {
            width: 140px;
            height: 140px;
            border: 1px solid #c0c0c0;
            background-color: #E5E6E4;
            background-size: cover;
            background-position: center;
            cursor: $cursor-avatar;

            align-items: center;
            display: flex;
            justify-content: center;

            .glyphicon {
                color: #ffffff;
                font-size: 80px;
            }
        }
    }

    .username {
        font-size: 400%;

        .label {
            font-size: 40%;
            vertical-align: middle;
        }
    }

    .since {
        font-size: 150%;
    }
}