$cursor-avatar: auto;
@import "card";

#person {
    margin-top: 40px;
}

.interests {
    font-size: 180%;
}

.social-contact {
    li * {
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
    }
}
